

:root {
    --default-canvas-filter: invert(100%);
}

$high-emph: rgba(white, 0.87);
$med-emph: rgba(white, 0.69); 
$low-emph: rgba(white, 0.38);
$dark-grey : #121212; 
// $dark-grey : #1F1B24;
$overlay: mix($dark-grey, white, 95%);
$overlay-light: mix($dark-grey, white, 86%);
$image-url: '{{site.baseurl}}/images/background.jpg';

.container {
    background-color:aliceblue;
}

div.trigger {
    background-color: transparent;
}

body {
    background-image: url('/mya10/images/background.jpg') !important;
    background-size: 100%; // Adjust as needed
    background-position: center;
}

html, input, textarea, select, button {   
  color: #6e3f07!important;
}

a {
    color: #5074ae!important;
}

a:hover {
    color:$high-emph !important;
}
 .site-title:visited, .site-nav, .page-link {
    color: rgba(33, 35, 35, 0.267) !important;
}

.site-title {
    color: #000000;
    font-weight: bold;
    font-style: italic;
}
.site-nav {
    background-color: #FFFFFF;
    border-color: $overlay-light;
}

* {
    scrollbar-color: #dddad6 #4a4548;
}

pre, code {
    // BVas a lighter colour to better highlight short code words
    border-color: #154a66;
    background-color: $overlay;
}

.page-description {
    color: $med-emph;
}

.post-meta {
    color: $low-emph;
}

.post-content p, .post-content li {
    color: $med-emph;
    background-color: #FFFFFF;
}

.btn {
    background-color: $overlay !important;
    color: $high-emph !important;
    border-color: $overlay-light !important;
}

.btn:hover {
    background-color: $dark-grey !important;
}

table th{
    background-color: $overlay;
    border-color: $overlay-light;
    color: $high-emph;
}

table td{
    background-color: #c9deff;
    border-color: #3675d9;
    color: #6e3f07;
}

.flash {
    color: $dark-grey !important;
    filter: brightness(80%);
}


.post-list > li > div {
    box-shadow: none !important;
    background-color: $overlay;
    border: none !important;
}

li .post-meta-description {
    color: $med-emph !important;
}

.search-result-preview{
    color: #154a66 !important; 
}

.search-result-highlight {
    color:#f28dc8 !important;
    font-weight:bold !important;
}

.search-results-list-item .search-result-title {
    color: #000000 !important;
}

a.post-link {
    color: #c9deff;
}